<?xml version="1.0"?>
<config>
	<global>
		<models>
			<track>
				<class>Aftership_Track_Model</class>
				<resourceModel>track_mysql4</resourceModel>
			</track>
			<track_mysql4>
				<class>Aftership_Track_Model_Mysql4</class>
				<entities>
					<track>
						<table>as_track</table>
					</track>
				</entities>			
			</track_mysql4>
			<status>
				<class>Aftership_Track_Model</class>
			</status>
			<notification>
				<class>Aftership_Track_Model</class>
			</notification>
		</models>
		<resources>
			<track_write>
				<connection>
					<use>core_write</use>
				</connection>
			</track_write>
			<track_read>
				<connection>
					<use>core_read</use>
				</connection>
			</track_read>
			<track_setup>
				<setup>
					<module>Aftership_Track</module>
					<class>Aftership_Track_Model_Resource_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</track_setup>
		</resources>
		<helpers>
			<aftership>
				<class>Aftership_Track_Helper</class>
			</aftership>
		</helpers>
	</global>
    <modules>
        <Aftership_Track>
            <version>0.1.16</version>
        </Aftership_Track>
    </modules>
	<frontend>
		<routers>
			<track>
				<use>standard</use>
				<args>
					<module>Aftership_Track</module>
					<frontName>track</frontName>
				</args>
			</track>
		</routers>
	</frontend>
	<adminhtml>
		<events>
			<sales_order_shipment_track_save_after>
				<observers>
					<fishpig_save_product_data>
						<type>singleton</type>
						<class>track/observer</class>
						<method>salesOrderShipmentTrackSaveAfter</method>
					</fishpig_save_product_data>
				</observers>
			</sales_order_shipment_track_save_after>
			<admin_system_config_changed_section_aftership_options>
				<observers>
					<index>
						<class>track/observer</class>
						<method>adminSystemConfigChangedSectionAftership</method>
					</index>
				</observers>
			</admin_system_config_changed_section_aftership_options>
		</events>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<aftership_options>
											<title>Aftership tracking config</title>
										</aftership_options>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
</config>